<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PackDB.Properties.Settings.dbjeuConnectionString"
            connectionString="Data Source=|DataDirectory|\dbjeu.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="PackDB.Properties.Settings.dbtestConnectionString"
            connectionString="Data Source=|DataDirectory|\dbtest.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>